<h1>Recuperação de Senha</h1>

<p>
  Voce solicitou uma Recuperação de senha
  para este email ({{ email }}).
  Caso nao tenha solicitado, atualize sua Senha
</p>

<p>
  Para Recuperação de senha click no token de acesso
  {{ token }} ou no link
</p>

<a href="{{ link }}">Criar nova Senha</a>
